{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Question</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->

</head>

<body class="container-fluid">
<div class="header">
    <img class="logo" src="{% static 'images/Logo.webp' %}">
</div>
<div class="container">
    <h2 id="h2-text">Your Questions</h2>
    <p id="p-text">Please enter the correct part number.</p>
    <form class="row" action="action">
        <div class=" col-md-8 col-sm-10 col-xs-8 container-fluid align-content-center text-center center-block ">
            {#col-sm-8 col-md-6 col-xs-4#}
            <textarea class="  col-centered text-center pink-textarea active-pink-textarea form-control center-block"
                      rows="2"
                      autofocus
                      style="color:blue; margin: 0 auto; float: none;"
                      id="question" name="question" tabindex="1"
                      placeholder="Type Your Question Here"></textarea>

            <div class=" col-sm-12 col-md-12  col-xs-4 col-centered" style="margin-top: 1em;  ">
                {#            <div class="col-sm-8 col-md-8" style="margin-top: 1em;  background-color: red;">#}
                <div class="btn btn-danger float-left" id="quit_from_question">Quit</div>
                <div class="btn btn-success float-right" data-toggle="modal" data-target="#myModal" tabindex="2">Proceed</div>
            </div>
            <!--<p>-->
            <!--<button href="/" type="button" class="btn b1 btn-danger" tabindex="3">Quit</button>-->
            <!--<button type="button" href="action" class="btn b2 btn-primary open" id="proceed" tabindex="2">Send-->
            <!--</button>-->
            <!--</p>-->
        </div>

    </form>

    <!--<form class="row">-->
    <!--<div class="form-group md-form mb-4 pink-textarea active-pink-textarea">-->
    <!--<textarea class="" rows="1" id="question" tabindex="1"-->
    <!--placeholder="Type Your Question Here"></textarea>-->
    <!--<div>-->
    <!--<a href="/">-->
    <!--<button type="button" class="btn b1 btn-danger" tabindex="3">Quit</button>-->
    <!--</a>-->
    <!--<a href="action">-->
    <!--<button type="button" class="btn b2 btn-primary open" id="proceed" tabindex="2">Send</button>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--</form>-->
</div>

{#<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>#}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">NLP Project</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you looking for Action2?</p>
            </div>
            <div class="modal-footer pull-left">
                <button type="button" class="btn btn-default btn-outline-warning pull-left" data-dismiss="modal">No</button>
                <button type="button" type="submit" class="btn btn-outline-success text-left " data-dismiss="modal" id="get_answer" tabindex="3">Yes</button>
            </div>
        </div>
    </div>
</div>
</div>


<!--<form class=" row " style=" background-color: red ">-->
<!--<div class="form-group md-form mb-4 pink-textarea active-pink-textarea">-->
<!--<textarea class="form-control textarea md-textarea form-control" rows="1" id="question" tabindex="1"-->
<!--placeholder="Type Your Question Here"></textarea>-->
<!--<a href="/">-->
<!--<button type="button" class="btn b1 btn-danger" tabindex="3">Quit</button>-->
<!--</a>-->
<!--<a href="action">-->
<!--<button type="button" class="btn b2 btn-primary open" id="proceed" tabindex="2">Send</button>-->
<!--</a>-->
<!--</div>-->

<!--</form>-->


<!--===============================================================================================-->
<script src="{% static '/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static '/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/js/main.js' %}"></script>

</body>

</html>
