{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Questions | NLP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
</head>

<body>


<p type="hidden" id="singup_message">{{ message }}</p>
<div class="header">
    <img class="logo" src="{% static 'images/Logo.webp' %}">
</div>

<div class="container card" style="margin-top: -12em; background-color: #fafafa; padding: 1em">
                <span class="login100-form-title p-b-33">
                    Questions
                </span>

    <input class="form-control" type="text" placeholder="Search question" style="padding: 20px"/>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Question</td>
            <td>Answer</td>
            <td>Category</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.0 }}</td>
            <td>{{ contact.6 }}</td>
            <td>{{ contact.5 }}</td>
            <td>
                <input class="btn btn-success" type="button" value='Detail'/>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <style>
        #pages {
            background-color: #eaeaea;
            padding: 10px;
            border: 1px #aaaaaa solid;
            color: gray;
        }
        #pages > span > a {
            color: white;
            padding: 5px;
            background-color: #7f7f7f;
        }

        .btn {

        }
    </style>
    <ul id="pages" class="pagination">
        <span class="step-links">
        {% if contacts.has_previous %}
            <a class="btn" href="?page=1">&laquo; first</a>
            <a class="btn" href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a class="btn" href="?page={{ contacts.next_page_number }}">next</a>
            <a class="btn" href="?page={{ contacts.paginator.num_pages }}">last &raquo; </a>
        {% endif %}
    </span>
    </ul>

    <form action="/add_question">
        <button href="/add_question" class=" btn btn-success float-right" id="singup">
            Add New Question
        </button>
    </form>


<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>
