{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Question</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->

</head>

<body class="container-fluid">
<div class="header">
    <img class="logo" src="{% static 'images/Logo.webp' %}">
</div>
<div class="container">
    <h2 id="h2-text">Your Questions</h2>
    <p id="p-text">Please enter the correct part number.</p>
    <form class="row" action="action">
        <div class="container-fluid text-center">

            <textarea class=" col-sm-8 col-md-8  col-xs-4 col-centered text-center"
                      rows="2"
                      style="color:blue"
                      id="question1" tabindex="1"
                      placeholder="Type Your Question Here"></textarea>
            <div class=" col-sm-8 col-md-8  col-xs-4 col-centered text-center" style="margin: auto">
                <button class="btn btn-danger float-left">Quit</button>
                <button class="btn btn-success float-right" type="submit">Proceed</button>
            </div>
            <!--<p>-->
            <!--<button href="/" type="button" class="btn b1 btn-danger" tabindex="3">Quit</button>-->
            <!--<button type="button" href="action" class="btn b2 btn-primary open" id="proceed" tabindex="2">Send-->
            <!--</button>-->
            <!--</p>-->
        </div>

    </form>

    <!--<form class="row">-->
    <!--<div class="form-group md-form mb-4 pink-textarea active-pink-textarea">-->
    <!--<textarea class="" rows="1" id="question" tabindex="1"-->
    <!--placeholder="Type Your Question Here"></textarea>-->
    <!--<div>-->
    <!--<a href="/">-->
    <!--<button type="button" class="btn b1 btn-danger" tabindex="3">Quit</button>-->
    <!--</a>-->
    <!--<a href="action">-->
    <!--<button type="button" class="btn b2 btn-primary open" id="proceed" tabindex="2">Send</button>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--</form>-->
</div>


<!--<form class=" row " style=" background-color: red ">-->
<!--<div class="form-group md-form mb-4 pink-textarea active-pink-textarea">-->
<!--<textarea class="form-control textarea md-textarea form-control" rows="1" id="question" tabindex="1"-->
<!--placeholder="Type Your Question Here"></textarea>-->
<!--<a href="/">-->
<!--<button type="button" class="btn b1 btn-danger" tabindex="3">Quit</button>-->
<!--</a>-->
<!--<a href="action">-->
<!--<button type="button" class="btn b2 btn-primary open" id="proceed" tabindex="2">Send</button>-->
<!--</a>-->
<!--</div>-->

<!--</form>-->


<!--===============================================================================================-->
<script src="{% static '/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static '/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static '/js/main.js' %}"></script>

</body>

</html>
