{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Users | NLP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
</head>

<body>


<p type="hidden" id="singup_message">{{ message }}</p>
<div class="header">
    <img class="logo" src="{% static 'images/Logo.webp' %}">
</div>

<div class="container card" style="margin-top: -12em; background-color: #fafafa; padding: 1em">
    <span class="login100-form-title p-b-33">
        Users
        <form action="/singup_d">
            <button href="/singup_d" class=" btn btn-warning float-right" id="singup">
            Add New User
            </button>
        </form>
    </span>

    <input class="form-control" type="text" placeholder="Search question ** ( Demo)" style="padding: 20px"/>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.email }}</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Detail
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <style>
        #pages {
            background-color: #eaeaea;
            padding: 10px;
            border: 1px #aaaaaa solid;
            color: gray;
        }
        #pages > span > a {
            color: white;
            padding: 5px;
            background-color: #7f7f7f;
        }

        .btn {

        }













    </style>
    <ul id="pages" class="pagination">
        <span class="step-links">
        {% if contacts.has_previous %}

            <a class="btn" href="?page=1">
               &laquo;
                first</a>
            <a class="btn" href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a class="btn" href="?page={{ contacts.next_page_number }}">next</a>
            <a class="btn" href="?page={{ contacts.paginator.num_pages }}">last &raquo;  </a>
        {% endif %}
    </span>
    </ul>


    <!-- Model code -->
    <!-- Button trigger modal -->
    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
    <!--Launch demo modal-->
    <!--</button>-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User Detail ** ( This is just demo)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover ">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>First Name</td>
                            <td>
                                <input type="text" value="Jhon" class="form-control"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td><input type="text" value="Smith" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <input type="text" value="abc@email.com" class="form-control" disabled/>
                            </td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>
                                <input type="password" value="Pass_12345!" class="form-control"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-warning">Update User</button>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
